<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ get_bloginfo( 'name' ) }} | Login</title>
		{{ head() }}
		{{ styles() }}
		<style type="text/css">
			#logo {
				background-image:url({{ logo }});
			}
		</style>
		{% if custom_css_enabled == 'on' %}
		<style type="text/css">
			{{ custom_css | raw }}
		</style>
		{% endif %}
		{{ scripts() }}
	</head>
	<body class="" >
		<div id="logo">
			{# The logo is actually displayed using the background-image but this is used to make sure the height is correct #}
			<img src="{{ logo }}" />
		</div>
		<div id="login_form_cntr">
				{% if message_enabled == 'on' %}
					<div class="message">
						{{ message }}
					</div>
				{% endif %}
				{% if widget_exists( 'form' ) %}
					{{ widget( 'form' ) }}{# This allows an extension to override the form #}
				{% else %}
					<form id="login_form" method="post">
						<input type="hidden" name="{{ namespace( 'action' ) }}" value="login"  />
						<p>
							<label>
								{{ translate( 'Password' ) }}
								<br />
								<input type="password" name="{{ namespace( 'password' ) }}" />
							</label>
						</p>
						<input type="submit" value="{{ translate( 'Login' ) }}" />
					</form>
				{% endif %}
		</div>
	</body>
</html>
